---
Language: Cpp
Cpp11BracedListStyle: false
ColumnLimit: 120
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
ReflowComments: false
SortIncludes: false
FixNamespaceComments: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SeparateDefinitionBlocks: Always
IndentPPDirectives: AfterHash
IndentCaseLabels: true
IndentCaseBlocks: false
AlignEscapedNewlines: Left
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
BinPackArguments: true
BinPackParameters: false
BreakAfterOpenBracketFunction: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: false
BreakTemplateDeclarations: Yes
PointerAlignment: Left
NamespaceIndentation: All
---
